DATABASE_URL="postgresql://admin:password123@localhost:5432/matin_sanitary"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=matin_sanitary

PGADMIN_EMAIL=admin@matinsanitary.com
PGADMIN_PASSWORD=admin123
